"Key Mappings
inoremap <leader>; <C-o>A;<Esc>
inoremap <leader>p <C-o>A(){<CR>
inoremap <leader>[ <C-o>A{<CR>
nnoremap <space> za
inoremap jk <Esc>
inoremap JK <Esc>
nnoremap fk :tabnext<CR>
nnoremap fj :tabprev<CR>
nnoremap fh :tabfirst<CR>
nnoremap fl :tablast<CR>
nnoremap <leader>~ :source ~/.ideavimrc<CR>
nmap <Tab> :NERDTreeToggle<CR>
nnoremap <C-J> <C-W><C-J>
nnoremap <C-K> <C-W><C-K>
nnoremap <C-L> <C-W><C-L>
nnoremap <C-H> <C-W><C-H>
" sets
set foldmethod=indent
set foldlevel=99
set encoding=utf-8
#set number relativenumber
set clipboard=unnamedplus
set tabstop=2
set shiftwidth=2
set expandtab

" lets
let mapleader=" "
let python_highlight_all=1
let g:airline#extensions#tabline#enabled = 1
syntax on

"actions"
ActivateTODOToolWindow

nmap <leader>t <action>(ViewToolBar)
nmap <leader><CR> <action>(ActivateTODOToolWindow)
nmap <leader>g <action>(Generate)
nmap <leader>v <action>(OverrideMethods)
nmap <leader>i <action>(OverrideMethods)
nmap <leader>r <action>(Run)
nmap <leader>l <action>(FindInPath)
nmap <leader>o <action>(GotoFile)
nmap <leader>s <action>(ViewStatusBar)
nmap <leader>f <action>(ToggleFullScreen)
nmap <leader>\ <action>(SplitVertically)
nmap <leader>- <action>(SplitHorizontally)
" nnoremap <leader>x :action CloseActiveTab<CR>
nnoremap <leader>x :action CloseEditor<CR>
nmap <leader>u <action>(Unsplit)
nmap <leader>j <action>(MethodDown)
nmap <leader>k <action>(MethodUp)
nmap fl <action>(NextSplitter)
nmap fh <action>(PrevSplitter)
nnoremap <leader>w :source ~/.ideavimrc<CR>

" configurations for vundle - vundle is a package manager for vim plugins
" think of it as pip for python packages

set nocompatible              " required
filetype off                  " required

" Plugins
set rtp+=~/.vim/bundle/Vundle.vim
call vundle#begin()
Plugin 'vim-scripts/indentpython.vim'
Plugin 'gmarik/Vundle.vim'
Plugin 'neoclide/coc.nvim', {'branch': 'release'}
Plugin 'vim-syntastic/syntastic'
Plugin 'nvie/vim-flake8'
Plugin 'tmhedberg/SimpylFold'
Plugin 'vim-airline/vim-airline'
Plugin 'vim-airline/vim-airline-themes'
Plugin 'preservim/nerdtree'
Plugin 'sheerun/vim-polyglot'
call vundle#end()            " required
filetype plugin indent on    " required
